<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find SURover22_description_byerenna)/urdf/SURover22_description_byerenna.urdf" />
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find SURover22_description_byerenna)/config/config.rviz" />
</launch>